/* GENERAL STYLES START */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
article {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    width: 75%;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: #0072bb;
    color: #ffffff;
}
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
body {
    background-color: #d9dcd6;
}

/* GENERAL STYLES END */

/* HEADER STYLE START */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header h1 .seo {
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* HEADER STYLE END */


/* HERO STYLE START */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
a {
    color: #ffffff;
    text-decoration: none;
}
/* HERO STYLE END */

/* SEARCH STYLE START */
.search img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}
/* END SEARCH STYLE */

/* BEGIN REPUTATION STYLE */
.reputation img {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}
/* END REPUTATION STYLE */

/* BEGIN SOCIAL STYLE */
.social img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}
/* END SOCIAL STYLE */

/* BEGIN BENEFITS STYLE */
/* LEAD */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* BRAND */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* COST */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}












































.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
